.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.user-wrapper{
  padding: 15px;
}
.main-card{
  width: 300px;
  height: auto;
  box-shadow: 5px 5px 5px #cecece;
}

em{
  font-style: italic;
}